{% extends base_template %}

{% block navbar_title %}
    Liste des catégories
{% endblock %}

{%- block actions -%}
    <li><a class="sonata-action-element" href="{{ path('admin_biopen_geodirectory_category_create') }}">
    				<i class="fa fa-plus-circle" aria-hidden="true"></i>
            Ajouter un Groupe de catégories
    </a></li>
     <li><a class="sonata-action-element" href="{{ path('admin_biopen_geodirectory_option_create') }}">
    				<i class="fa fa-plus-circle" aria-hidden="true"></i>
            Ajouter une Catégorie
    </a></li>
{%- endblock -%}


{% block show %}

  <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome-5/css/all.css') }}" />
  {{ config.iconImport|raw }}

  <p><a class="btn btn-primary sonata-action-element" href="{{ path('admin_biopen_geodirectory_category_create') }}" style="margin-right: 10px;">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Ajouter un Groupe de catégories
  </a>
  <a class="btn btn-primary sonata-action-element {{ categories|length == 0 ? 'disabled' : ''}}" href="{{ path('admin_biopen_geodirectory_option_create') }}">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Ajouter une Catégorie
  </a></p>

	<div class="well" style="margin-top: 20px; font-size: 15px; line-height: 26px;">
  	{% if categories|length %}
  		{% for category in categories %}
        {% if category %}
        <ul>
          {% include '@BiopenAdmin/list/tree_category_item.html.twig' with {'category': category, 'firstDepth':true} %}
        </ul>
        {% endif %}
      {% endfor %}
    {% else %}
    	Aucune catégories. Veuillez créer un nouveau Groupe de catégorie, puis des catégories à l'intérieur de celui-ci.
      Les catégories sont un élément essentiel dans GoGoCarto. Il se peut que votre carte ne fonctionne plus sans catégories
    {% endif %}
	</div>

  <div class="alert alert-default">
    <h4>Quelques explications</h4>
    <div style="float: left;margin-right: 30px;"><iframe height='200' sandbox='allow-same-origin allow-scripts' src='https://video.colibris-outilslibres.org/videos/embed/4a5b7593-aedb-4983-b562-3cab03bb1691' frameborder='0' allowfullscreen></iframe></div>

    <div style=""><iframe height='200' sandbox='allow-same-origin allow-scripts' src='https://video.colibris-outilslibres.org/videos/embed/6ff39dd4-0db8-435b-a3bd-e87307e7e5d1' frameborder='0' allowfullscreen></iframe></div>
    </br>
    Les catégories sont toujours regroupées dans des <b>Groupe de catégories</b></br>
    Pour ajouter des catégories à un Groupe, le plus simple est d'éditer le Groupe de catégories, et vous allez vous apparaitre en bas de page la liste des catégories contenues dans ce groupe. Vous pourrez alors les éditer et en ajouter de nouvelles</br></br>

    Vous pouvez avoir plusieurs Groupes de catégories en parrallèle. Pour cela créez un nouveau groupe, enregistrez, puis ajoutez lui ensuite des catégories</br></br>

    Une catégorie peut elle même contenir un sous groupe avec des sous catégories à l'intérieur. Lorsque vous éditer une catégorie, en bas de la page vous pouvez y ajouter un sous groupe puis le remplir avec de nouvelles catégories.</br></br>


    <b>(Groupe) GROUPE DE CATEGORIES 1</b>
    <ul>
      <li>Catégorie 1</li>
      <li>Catégorie 2</li>
    </ul>
    <b>(Groupe) GROUPE DE CATEGORIES 2</b>
    <ul>
      <li>Catégorie 1</li>
      <li>Catégorie 2</li>
      <li>Catégorie 3</li>
    </ul>
    <ul>
      <b>(Groupe) SOUS GROUPE 1</b>
      <ul>
        <li>Sous Catégorie 1</li>
        <li>Sous Catégorie 2</li>
      </ul>
    </ul>
  </div>

<script>
$(document).ready(function () {
	$('.expandable').click(function (e) {
		$(this).siblings('ul.children').toggle(300);
		e.stopPropagation();
    e.stopImmediatePropagation();
    e.preventDefault();
	});
});
</script>

<style>

.name{ margin-right: 10px; }

li.category-item
{
	list-style-type: none;
}

span.category-item .name
{
	font-weight: bold;
  text-transform: uppercase;
  font-size: .85em;
}

span.category-item .arrow-after { margin-right: 10px; }

li.option-item
{
	list-style-type: circle;
}

span.option-item
{
	/*font-style: italic;*/
}

.expandable:hover
{
	cursor: pointer;
	color: black;
}

.arrow-after
{
	display: inline-block;
  margin-left: 5px;
  border: solid 3px;
  margin-bottom: -1px;
  border-color: #545454 transparent transparent transparent;
}

.actions
{
	margin-left: 1rem;
}

.btn-sm.btn-default
{
	border: none;
	padding: 5px 5px;
  font-size: 10px;
  color: grey;
}

ul
{
	padding-left: 30px;
}

ul.option-children {
    padding-left: 10px;
}

</style>
{% endblock %}


